{% extends "mf_webApp/base.html" %}

{% load static %}

{% block content %}
    <!-- Introduccion-->


    <div class="jumbotron">
        <h1 class="display-3">Bienvenido a Myocardial Perfusion! ()Esta es list.html </h1>
        <p class="lead">una herramienta diseñada para procesar imagenes .dcm para segmentacion miocardica.</p>
        <hr class="my-4">
        <p>Se pueden realizar analisis de imagenes del corazon.</p>
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="#" role="button">Ver mas</a>
        </p>
      </div>

{% endblock %}