{% extends "mf_webApp/base.html" %}

{% block title %} Upload Image {% endblock %}
{% load static %}

{% block content %}

<style>

  .azul{
    background-color: #375a7f;
    height: 80px;
  }
</style>
<br>
        <div class="row">
          <div class="col-12 azul">
            <br>
           <center><h4>Select the image to analyze</h4></center>
          </div>
          <div class="col-12 ">
            <br>
            <table border=1 width=100% align="center">
              <tr>
                <td align="center">
                  Rest
              </td>
              <td align="center">
                  Stress
              </td>
              </tr>
            <tr>
            <td>
           <form method="post" enctype="multipart/form-data" style="margin-top:40px;margin-bottom:50px;" action="{% url 'processing' %}" id="form_one">
                    <span class="btn btn-default btn-file">
                        Upload Rest <input type="file" name="imgInp" id="imgInp" webkitdirectory multiple accept="" required>
                    </span>
                </span>
            </td>
            <td>
                    <span class="btn btn-default btn-file">
                        Upload Stress <input type="file" name="imgInpStress" id="imgInpStress" webkitdirectory multiple accept="" required>
                    </span>
                </span>
              
          </td>
          </tr>
          <tr>
      {% block imagen %}
                <td align="center">
                  <img id='img_upload' style="text-align:center; width:600px;
                  margin-top:40px;
                  box-shadow:16px 15px 28px 1px rgba(0,0,0,.75)" />
                </td>
                <td align="center">
                  <img id='img_uploadStress' style="text-align:center; width:600px;
                  margin-top:40px;
                  box-shadow:16px 15px 28px 1px rgba(0,0,0,.75)" />
                </td>
      {% endblock %}
    </tr>
            </table>
            </div>
           <div class="col-12 azul">
             <br>
             <center>
               <input type="submit" class="btn btn-secondary" value="Process" >
              
           </div>
      </div>

    </form>
    <br>



{% endblock %}

